<ion-scroll zooming="false" direction="y" id="chat-scroll">

	<div class="list row">

		<div class="col col-20">
			<div class="thumb-round" style="background-image: url({{user.foto}})"></div>
		</div>

		<div class="col">
			<div class="v-text">
				<div class="cell tac">
					<strong>{{user.nome}}</strong><br>
					{{produto.nome}}<br>
					{{produto.valor | currency}}<br>
				</div>
			</div>
		</div>

		<div class="col col-20">
			<div class="thumb-round" style="background-image: url({{produto.img}})"></div>
		</div>

	</div>

	<div id="conversation" class="padding">

		<div class="row" ng-repeat="c in conversa">
			<div class="" ng-class="{'col-10':c.other==='0'}"></div>
			<div class="col"><div class="balao" ng-class="'balao-'+c.other">
				{{c.msg}}<br>
				<span class="tempo"><i class="icon-clock-o"></i>  {{c.tempo_txt}}</span>
			</div></div>
			<div class="" ng-class="{'col-10':c.other==='1'}"></div>
		</div>

		<div id="btn_vendedor" ng-show="eh_vendedor && pagamento_autorizado=='n'">

			<hr>

			<div class="row">
				<div class="col align-center">
					<p>
						<a ng-click="AutorizarPagamento()" class="btn roxo_escuro filled">Autorizar Pagamento</a>
					</p>

					<p>Recomendamos que escolha um local público/seguro para entregar o produto</p>
				</div>

			</div>

		</div>


		<div id="btn_comprador" ng-show="!eh_vendedor && pagamento_autorizado=='s' && pagamento_efetuado=='n'">

			<hr>

			<div class="row">
				<div class="col align-center">
					<p>
						<a ng-click="EfetuarPagamento()" class="btn roxo_escuro filled">Efetuar Pagamento</a>
					</p>

					<p>Recomendamos que escolha um local público/seguro para buscar o produto</p>
				</div>
			</div>

		</div>

		<div id="btn_comprador" ng-show="infoPagamento!=undefined">

			<hr>

			<div class="row">
				<div class="col align-center">
					<div class="alert green">
						<p><strong>Pagamento efetuado via {{infoPagamento.metodo}}</strong></p>
						<p>Valor: {{infoPagamento.valor | currency}}</p>
						<p>Data: {{infoPagamento.data}}</p>
					</div>
				</div>
			</div>

		</div>

	</div>

</ion-scroll>

<!-- <div id="chat-input" show-on-keyboard-open>
	
	<form ng-submit="SendMsg()">
		<div class="row">
			<div class="col">
					<input type="text" ng-model="chatMsg" required placeholder="Digite uma mensagem">
			</div>

			<div class="col col-btn">
				<button><i class="icon-chevron-right"></i></button>
			</div>
		</div>
	</form>
</div> -->