<ion-scroll zooming="false" direction="y" class="full bg_pattern">

	<div id="login" class="">
		<div id="content" class="centerObj">
			
			<img src="img/logo_vertical.svg" alt="Dresses I Like" id="logo">

			<a ng-click="LoginFacebook()" class="btn azul width-100">Entre com o facebook</a>
			<div class="space-20"></div>
			<a href="#/login" class="btn verde width-100">Entre com e-mail</a>
			<div class="separador">
				<span class="linha"></span>
				<span> ou registre-se</span>
				<span class="linha"></span>
				<div class="clearfix"></div>
			</div>

			<a href="#/cadastro" class="btn roxo_escuro width-100">Crie sua conta</a>

			<p><br><a href="#/app/home">Entrar sem registro</a></p>

		</div>
	</div>

</ion-scroll>