<ion-scroll zooming="false" direction="y" class="full bg_pattern">


	<div id="login" class="">
		<div id="content" class="">
			
			<img src="img/logo_vertical.svg" alt="Dresses I Like" id="logo" >

			<form ng-submit="login()">
				<input required ng-model="dados.email" name="email" type="email" placeholder="E-MAIL" />
				<div class="space-20"></div>
				<input required ng-model="dados.senha" name="senha" type="password" placeholder="SENHA" />

				<div ng-show="erro!=''">
					<div class="space-20"></div>
					<div class="alert red">
						{{erro}}
					</div>
				</div>

				<div class="space-20"></div>
				<button class="btn filled roxo_escuro width-75">Fazer login</button>

				<div class="space-20"></div>

				<button type="button" ng-click="EsqueciSenha()" class="btn roxo_escuro width-75 small">ESQUECI MINHA SENHA</button>

				<div class="space-20"></div>
				<a href="#/entrar" class="btn roxo_escuro width-75 small">VOLTAR</a>
			</form>



		</div>
	</div>

</ion-scroll>