<div id="cadastro" class="full general" ng-init="carregar()">
	
	<div class="bar bar-header logo">
		<button ng-click="back();"><i class="icon-chevron-left"></i></button>
	</div>

	<ion-content class="has-header">

		<div ng-if="!moip">
			<div class="addImg" ng-click="selectImg($index)" style="background-image: url({{user.foto}})">
				<i class="icon-camera"></i><br>
				Trocar Foto
			</div>
			
			<h3>Altere seus dados</h3>
			
			<form ng-submit="editar()">
			
				<div class="padding">
			
					<div class="row">
					  <div class="col">
					  	<input required type="text" name="nome" ng-model="user.nome" placeholder="NOME COMPLETO">
					  </div>
					</div>
			
					<div class="row">
					  <div class="col">
					  	<input required type="email" name="email" ng-model="user.email" placeholder="E-MAIL">
					  </div>
					</div>
			
					<!-- <div class="row">
					  <div class="col">
					  	<input required type="tel" name="celular" ng-model="user.celular" placeholder="CELULAR" ui-br-phone-number>
					  </div>
					</div>
								
					<div class="row">
								
					  <div class="col">
					  	<input required type="text" name="cep" ng-model="user.cep" placeholder="CEP"  ng-blur="checkCEP()" ui-br-cep-mask>
					  </div>
								
					  <div class="col col-66">
					  	<select ng-model="user.uf" required>
							<option value="">UF</option>
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AP">Amapá</option>
							<option value="AM">Amazonas</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espirito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MT">Mato Grosso</option>
							<option value="MG">Minas Gerais</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraíba</option>
							<option value="PR">Paraná</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="SC">Santa Catarina</option>
							<option value="SP">São Paulo</option>
							<option value="SE">Sergipe</option>
							<option value="TO">Tocantins</option>
						</select>
					  </div>
								
					</div>
								
					<div class="row">
								
					  <div class="col">
					  	<input required type="text" name="cidade" ng-model="user.cidade" placeholder="CIDADE">
					  </div>
								
					</div> -->
			
					<div class="space-20"></div>
			
					<div class="row">
					  <div class="col">
					  	<small>Deixe a senha em branco para manter a senha atual</small>
					  </div>
					 </div>
			
					<div class="row">
					  <div class="col">
					  	<input type="password" name="senha" ng-model="user.senha" placeholder="SENHA">
					  </div>
					</div>
			
					<div class="row">
					  <div class="col">
					  	<input type="password" name="senha2" ng-model="user.senha2" placeholder="REPITA A SENHA">
					  </div>
					</div>
			
					<div class="space-20"></div>
			
					<div class="row">
					  <div class="col">
					  	<button ng-disabled="btnCadastrar" class="btn roxo_escuro filled full">Salvar Dados</button>
					  </div>
					</div>
			
				</div>
			
			</form>
			
			
			<div class="space-20"></div>
		</div>

		<h3>Opções de Vendedor</h3>


		<form ng-submit="editar()" class="padding" ng-show="user.MoipId==''">
			
			<div class="row">
				<div class="col">
					<p>Para vender através do Dresses I Like é necessário que você tenha um cadastro de vendedor no Moip.</p>
				<p>Caso já tenha cadastro no moip, toque no botão abaixo para conectar sua conta.</p>
				</div>

			</div>

			<div class="row">
				<div class="col">
					<button type="button" ng-click="ConectarMoip()" class="btn azul filled full">Conectar conta Moip</button>
				</div>
			</div>

			<div class="space-30"></div>

			<div class="row">
				<div class="col tac">
					<p>Ainda não possui cadastro no Moip? </p>
					<p>
						<button type="button" ng-click="CadastrarMoip()" class="btn roxo_escuro full">Cadastre-se no Moip</button>
					</p>
				</div>
			</div>

			<hr>

		</form>


		<div ng-show="user.MoipId!=''">
			<div class="space-20"></div>
			<p><strong>Conta Moip conectada!</strong></p>

			<div class="row">
				<div class="col tac">
					<p>
						<button type="button" ng-click="RemoverContaMoip()" class="btn roxo_escuro small">Desconectar conta Moip</button>
					</p>
				</div>
			</div>
		</div>

		<div ng-if="!moip">
			<div class="space-20"></div>
			
			<h3>Sair do aplicativo</h3>
				
			<div class="padding">
			
				<div class="row">
					<div class="col">
						<button ng-click="LogOut()" class="btn vermelho filled full small">LOG OUT</button>
					</div>
				</div>
			</div>
			
			<div class="space-20"></div>
		</div>
		


	</ion-content>

</div>