<div class="box centerObj" ng-init="shadowbox.loadAmigos()">

	<div class="row">
		<div class="col">
			<h2>Amigos</h2>
		</div>
		<div class="col col-10 align-right">
			<a class="fechar" ng-click="shadowbox.visible = false"><i class="icon-dont-like"></i></a>
		</div>
	</div>

	<ion-scroll zooming="false" direction="y" class="content max-h">

		<div class="amigo" ng-class="{'sel': u.sel}" ng-repeat="u in shadowbox.amigos" ng-init="u.sel = false" ng-click="u.sel = !u.sel">
			<div class="thumb-round big" style="background-image: url({{u.foto}})">
				<div class="check" ng-show="u.sel"></div>
			</div>
			<p>{{u.nome}}</p>
		</div>

	</ion-scroll>

	<div class="row">
		<div class="col">
			<a  ng-click="shadowbox.save()" class="btn rosa_escuro filled small width-100">PEDIR OPINIÃO</a>
		</div>
	</div>

</div>