<ion-modal-view class="modal">

	<ion-header-bar>
		<h1 class="title">Cadastro PayPal</h1>
		<button ng-click="closeModal();" class="button icon ion-close"></button>
	</ion-header-bar>

	<ion-content class="has-header padding ">

		<div class="row">
			<div class="col tac">
				<p>Para finalizar sua negociação é necessário que você tenha um cadastro no PayPal.</p>
				<p>Caso já seja cadastrada no PayPal, informe o seu e-mail de cadastro abaixo</p>
			</div>
		</div>

		<form ng-submit="SalvarPayPal()">

			<div class="row">
				<div class="col">
					<input required type="email" name="email_paypal" ng-model="userLogado.email_paypal" placeholder="E-MAIL PAYPAL">
				</div>
			</div>

			<div class="row">
				<div class="col">
					<button ng-disabled="btnCadastrar" class="btn full roxo_escuro filled">SALVAR</button>
				</div>
			</div>

		</form>

		<div class="space-30"></div>

		<div class="row">
			<div class="col tac">
				<p>Ainda não possui cadastro no PayPal? </p>
				<p>
					<a href="#"  onClick="window.open('https://www.paypal.com/br/signup/account/premier','_system','location=yes');return false;" class="btn full small rosa_escuro filled" target="_system">Clique aqui para se cadastrar no PayPal</a>
				</p>
			</div>
		</div>

	</ion-content>

</ion-modal-view>