<div class="box centerObj">

	<div class="row">
		<div class="col">
			<h2>Qualificar Vendedor</h2>
		</div>
		<div class="col col-10 align-right">
			<a class="fechar" ng-click="shadowbox.visible = false"><i class="icon-dont-like"></i></a>
		</div>
	</div>

	<div class="list row">

		<div class="col col-20">
			<div class="thumb-round" style="background-image: url({{shadowbox.data.vendedor.foto}})"></div>
		</div>

		<div class="col col-center">
			<strong>{{shadowbox.data.vendedor.nome}}</strong><br>
		</div>

	</div>

	<div class="row avaliacao">
		<div class="col">
			<i ng-click="shadowbox.changeAvaliacao(i)" ng-class="{'icon-star': i<=shadowbox.avaliacao, 'icon-star-o': i>shadowbox.avaliacao}" ng-repeat="i in [1,2,3,4,5]"></i>
		</div>
	</div>



	<div class="row" ng-show="shadowbox.btnEnviar">
		<div class="col">
			<div class="space-15"></div>
			<a  ng-click="shadowbox.save()" class="btn rosa_escuro filled small width-100">ENVIAR AVALIAÇÃO</a>
		</div>
	</div>

</div>