<div class="box centerObj">

	<div class="row">
		<div class="col">
			<h2>Categorias</h2>
		</div>
		<div class="col col-10 align-right">
			<a class="fechar" ng-click="shadowbox.visible = false"><i class="icon-dont-like"></i></a>
		</div>
	</div>

	<ion-scroll zooming="false" direction="y" class="max-h">
	<div class="row">
		<div class="col">
			<ul>
				<li ng-repeat="cat in shadowbox.cats">
					<a ng-click="shadowbox.showCat($index)">
						<div class="row">
							<div class="col"><strong>{{cat.nome}}</strong></div>
							<div class="col col-25 dir">
								<i class="icon-chevron-down" ng-show="!cat.visible" ></i>
								<i class="icon-chevron-up" ng-show="cat.visible" ></i>
							</div>
						</div>
					</a>
					<ul ng-init="cat.visible = false" ng-show="cat.visible">
						<li ng-repeat="opt in cat.subcategorias" ng-click="shadowbox.selectCat(cat, opt)">
							<div class="row">
								<div class="col">{{opt.nome}}</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	</ion-scroll>

</div>