<div id="cadastro" class="full general">
	
	<div class="bar bar-header logo">
		<button ng-click="back();"><i class="icon-chevron-left"></i></button>
	</div>

	<ion-content class="has-header">

		<h3>Cadastre-se</h3>

		<form ng-submit="cadastrar()">

			<div class="padding">
		
				<div class="row">
				  <div class="col">
				  	<input required type="text" name="nome" ng-model="user.nome" placeholder="NOME COMPLETO">
				  </div>
				</div>
		
				<div class="row">
				  <div class="col">
				  	<input required type="email" name="email" ng-model="user.email" placeholder="E-MAIL">
				  </div>
				</div>
		
				<!-- <div class="row">
				  <div class="col">
				  	<input required type="tel" name="celular" ng-model="user.celular" placeholder="CELULAR" ui-br-phone-number>
				  </div>
				</div>
				
				<div class="row">
				
				  <div class="col">
				  	<input required type="text" name="cep" ng-model="user.cep" placeholder="CEP" ng-blur="checkCEP()" ui-br-cep-mask>
				  </div>
				
				  <div class="col col-66">
				  	<select ng-model="user.uf" required>
						<option value="">UF</option>
						<option value="AC">Acre</option>
						<option value="AL">Alagoas</option>
						<option value="AP">Amapá</option>
						<option value="AM">Amazonas</option>
						<option value="BA">Bahia</option>
						<option value="CE">Ceará</option>
						<option value="DF">Distrito Federal</option>
						<option value="ES">Espirito Santo</option>
						<option value="GO">Goiás</option>
						<option value="MA">Maranhão</option>
						<option value="MS">Mato Grosso do Sul</option>
						<option value="MT">Mato Grosso</option>
						<option value="MG">Minas Gerais</option>
						<option value="PA">Pará</option>
						<option value="PB">Paraíba</option>
						<option value="PR">Paraná</option>
						<option value="PE">Pernambuco</option>
						<option value="PI">Piauí</option>
						<option value="RJ">Rio de Janeiro</option>
						<option value="RN">Rio Grande do Norte</option>
						<option value="RS">Rio Grande do Sul</option>
						<option value="RO">Rondônia</option>
						<option value="RR">Roraima</option>
						<option value="SC">Santa Catarina</option>
						<option value="SP">São Paulo</option>
						<option value="SE">Sergipe</option>
						<option value="TO">Tocantins</option>
					</select>
				  </div>
				
				</div>
						
				<div class="row">
						
				  <div class="col">
				  	<input required type="text" name="cidade" ng-model="user.cidade" placeholder="CIDADE">
				  </div>
						
				</div> -->
		
				<div class="row">
				  <div class="col">
				  	<input required type="password" name="senha" ng-model="user.senha" placeholder="SENHA">
				  </div>
				</div>
		
				<div class="row">
				  <div class="col">
				  	<input required type="password" name="senha2" ng-model="user.senha2" placeholder="REPITA A SENHA">
				  </div>
				</div>
		
				<!-- <div class="space-20"></div>
						
				<p>
					Não possui cadastro no MOIP? <a href="http://www.moip.com.br/" target="_blank">Clique aqui</a>
				</p> -->
		
				<div class="space-20"></div>
		
				<p>
					<label class="dil_checkbox">
						<input type="checkbox" class="ng-hide" name="termo" ng-model="termo">
						<i class="icon-square-o" ng-show="!termo"></i>
						<i class="icon-check-square-o" ng-show="termo"></i>
						Concordo com os termos e condições do aplicativo
					</label>
				</p>
		
				<a class="btn small" ng-click="LerTermo()">Ler os termos e condições</a>
		
				<div class="space-20"></div>
		
				<div class="row">
				  <div class="col">
				  	<button ng-disabled="btnCadastrar" class="btn roxo_escuro filled width-75">Cadastrar</button>
				  </div>
				</div>

			</div>

		</form>




	</ion-content>

</div>