<div id="chat">

	<div class="bg-white">

		<div class="row" ng-show="chats.length==0">
			<div class="col align-center">
				<div class="space-20"></div>
				<div class="alert rosa">
					Você ainda não iniciou uma negociação.
				</div>
			</div>
		</div>

		<div class="list row" ng-class="{'sel bold': !c.lido}" ng-repeat="c in chats" ng-click="openChat(c.id);">

			<div class="col col-20">
				<div class="thumb-round" style="background-image: url({{c.user.foto}})"></div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col padding-0"><strong>{{c.user.nome}}</strong></div>
					<div class="col col-50 padding-0 tempo">
						<i class="icon-clock-o"></i> {{c.tempo_txt}}
					</div>
				</div>
				<div class="row">
					<div class="col padding-0">{{c.produto}}</div>
				</div>
			</div>

		</div>
	</div>


</div>