<ion-scroll zooming="false" direction="y" class="full bg_pattern">


	<div id="login" class="">
		<div id="content" class="">

			<img src="img/logo_vertical.svg" alt="Dresses I Like" id="logo" >
			
			<p>Digite seu e-mail abaixo para redefinir sua senha.</p>

			<form ng-submit="Enviar()">
				<input required ng-model="dados.email" name="email" type="email" placeholder="E-MAIL" />
				<div class="space-20"></div>

				<div ng-show="erro!=''">
					<div class="space-20"></div>
					<div class="alert red">
						{{erro}}
					</div>
				</div>

				<div ng-show="sucesso!=''">
					<div class="space-20"></div>
					<div class="alert green">
						{{sucesso}}
					</div>
				</div>

				<div class="space-20"></div>
				<button class="btn filled roxo_escuro width-75">Enviar</button>

				<div class="space-20"></div>
				<hr>
				<div class="space-20"></div>
				<button type="button" onclick="history.back(0)" class="btn roxo_escuro width-75 small">VOLTAR</button>
			</form>



		</div>
	</div>

</ion-scroll>