<div id="liked">

	<div id="tipo" class="borda-baixo" >
		<div class="row ">
			<div class="col"><a ng-click="selAba('preferidos')" class="pill truncate" ng-class="{'filled':tipo === 'preferidos'}">Preferidos</a></div>
			<div class="col"><a ng-click="selAba('avaliacoes')" class="pill truncate" ng-class="{'filled':tipo === 'avaliacoes'}">Avaliações</a></div>
			<div class="col"><a ng-click="selAba('avaliar')" class="pill truncate" ng-class="{'filled':tipo === 'avaliar'}">Avaliar</a></div>
		</div>
	</div>

	<div class="row" ng-show="tipo=='preferidos' && selecionando">
		<div class="col">
			<p>Selecione dois itens e compartilhe com suas amigas!</p>
		</div>
	</div>

	<div class="row"  ng-show="tipo=='preferidos' && !selecionando && vestidos.length>=2">
		<div class="col">
			<a  ng-click="startSelect(true)" class="btn small rosa_escuro filled width-100">PEDIR AJUDA PARA ESCOLHER</a>
		</div>
	</div>

		<div class="row"  ng-show="selecionando">
			<div class="col">
				<a  ng-click="pedirAjuda()" class="btn roxo_escuro small filled width-100">Pedir ajuda</a>
			</div>

			<div class="col">
				<a  ng-click="startSelect(false)" class="btn roxo_escuro small width-100">Cancelar</a>
			</div>
		</div>

	<div class="row" ng-show="tipo=='avaliacoes'">
		<div class="col tac">
			<p>Confira os votos</p>
		</div>
	</div>


	<!-- VESTIDOS PREFERIDOS -->
	<div class="bg-white" ng-show="tipo=='preferidos'">
	

		<div class="row" ng-show="vestidos.length==0">
			<div class="col align-center">
				<div class="space-20"></div>
				<div class="alert rosa">
					Você ainda não marcou itens de sua preferência. Volte para a tela principal e toque no ícone "coração" para escolher os vestidos e acessórios que possui interesse. 
				</div>
			</div>
		</div>

		<div class="list no-margin row" ng-class="{'sel': selAjuda.indexOf(vestido.id)>=0}" ng-repeat="vestido in vestidos" ng-click="selDress($index)">
			<div class="col " ng-class="{'maw-110': !selecionando, 'maw-85': selecionando}">
				<div ng-class="{'thumb': !selecionando, 'thumb-round big': selecionando}" style="background-image: url({{vestido.foto}})">
					<div class="check" ng-show="selAjuda.indexOf(vestido.id)>=0"></div>
				</div>
			</div>

			<div class="col">
				<strong>{{vestido.titulo}}</strong><br>
				<small>{{vestido.valor | currency}}</small>
			</div>
		</div>

		<div class="space-15"></div>

	</div>

	<!-- AVALIAR -->
	<div class="bg-white" ng-show="tipo=='avaliar'">


		<div id="tabs" class="row">

			<a class="col" ng-click="selTab('nao-avaliados')" ng-class="{'sel':status=='nao-avaliados'}">
				<i class="icon-clock-o"></i>
				Não Avaliados
			</a>
			<a class="col" ng-click="selTab('avaliados'); selAba('avaliar')" ng-class="{'sel':status=='avaliados'}">
				<i class="icon-thumbs-o-up"></i>
				Avaliados
			</a>

		</div>

		<div class="row" ng-show="showMsgAvaliado('nao-avaliados')">
			<div class="col align-center">
				<div class="space-20"></div>
				<div class="alert rosa">
					Não há nenhuma avaliação pendente
				</div>
			</div>
		</div>

		<div class="row" ng-show="showMsgAvaliado('avaliados')">
			<div class="col align-center">
				<div class="space-20"></div>
				<div class="alert rosa">
					Você ainda não avaliou nenhum item
				</div>
			</div>
		</div>
		
		<div class="list no-margin avaliar" ng-repeat="a in avaliar" ng-show="showAvaliado(a)">
			
			<div class="row">
				<div class="col align-center">
					<div class="thumb-round" style="background-image: url({{a.usuario.foto}})">
					</div>
					<strong>{{a.usuario.nome}}</strong><br>
					pediu sua opinião sobre os vestidos abaixo:
				</div>
			</div>

			<div class="row align-center">
				<div class="col" ng-repeat="v in a.anuncios">

					<div ng-click="avaliarSel(a.anuncios, $index, a.id)" ng-class="{'sel': v.sel}" class="thumb" style="background-image: url({{v.foto}})">
						<div class="check" ng-show="v.sel"></div>
					</div>

					<div class="space-10"></div>

					<a ng-click="avaliarSel(a.anuncios, $index, a.id)" class="btn rosa_escuro filled small width-75">VOTAR</a>

					<div class="space-10"></div>

					<a href="#/app/dress/3" class="btn rosa_escuro small width-75">VER VESTIDO</a>

				</div>
			</div>

		</div>

	</div>



	<!-- AVALIACOES -->
	<div class="bg-white" ng-show="tipo=='avaliacoes'">

		<div class="row" ng-show="avaliacoes.length==0">
			<div class="col align-center">
				<div class="space-20"></div>
				<div class="alert rosa">
					Você ainda não pediu ajuda, acesse a aba <strong>"Preferidos"</strong> e toque no botão "Pedir ajuda para escolher" para pedir uma avaliação.
				</div>
			</div>
		</div>
		
		<div class="list no-margin avaliar" ng-repeat="a in avaliacoes">

			<div class="row align-center">
				<div class="col" ng-repeat="v in a.anuncios">

					<div class="thumb" style="background-image: url({{v.foto}})">
					</div>

					<div class="space-10"></div>

					<span class="destaque roxo_escuro"><i class="icon-thumbs-o-up"></i> {{v.votos}}</span>

					<div class="space-5"></div>

					<div class="thumb-round small inline" style="background-image: url({{amigos.foto}})" ng-repeat="amigos in v.amigos">
					</div>

				</div>
			</div>

		</div>

	</div>


</div>