<div class="box centerObj">

	<div class="row">
		<div class="col">
			<h2>{{shadowbox.titulo}}</h2>
		</div>
		<div class="col col-10 align-right">
			<a class="fechar" ng-click="shadowbox.visible = false"><i class="icon-dont-like"></i></a>
		</div>
	</div>
	
	<ion-scroll zooming="false" direction="y" class="max-h">
	<div class="row">
		<div class="col">
			<ul>
				<li ng-repeat="opt in shadowbox.opts" ng-click="shadowbox.select(opt)">
					<div class="row">
						<div class="col">{{opt.nome}}</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	</ion-scroll>

</div>