<ion-content id="validacao">
	
	<div id="header">
		<img src="img/logo_vertical.svg" height="20%">

		<form ng-submit="validar()">
			<div class="box">
				<h2>Validação</h2>
				<p>Insira no campo abaixo o código enviado para o seu e-mail</p>

				<div class="row">
					<div class="col">
						<input required ng-model="codigo.codigo" type="text" placeholder="Insira o código aqui">
					</div>
				</div>

				<div class="row" ng-show="erro!=''">
					<div class="col">
						<div class="alert">
							{{erro}}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<button class="btn rosa_escuro full filled">Validar</button>
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<a href="#/login" class="btn rosa_claro full small">VOLTAR</a>
					</div>
				</div>
				

			</div>
		</form>


	</div>

</ion-content>