@charset "utf-8";
@import "compass/css3";

$rosa_claro: #f3ddec;
$rosa_escuro: #f0506b;
$roxo: #6e113e;
$roxo_escuro: #4a0f2c;
$roxo_claro: #872f5a;

$bg_tab: #711942;
$color_tab: #ff54a8;


@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} { @content; }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
  @include optional-at-root(':-ms-input-placeholder') { @content;}
}


* {
	font-family: 'Roboto', sans-serif !important;
}

body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-size: 15px;
}

body, html {
	//overflow: hidden;
}

a {
	color: $roxo_escuro;
	text-decoration: none;
}

h2 {
	color: $rosa_escuro;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.activated {
	opacity: .7;
}

.centerObj {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

/* .keyboard-open {

	.centerObj {
		position: initial;
		@include transform(translate(0, 0));
		top: auto;
		left: auto;
		margin: 0 auto;
	}

} */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tar {
	text-align: right;
}

.tac {
	text-align: center;
}

.padding-0 {
	padding: 0;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.v-text {
	display: table;
	width: 100%;

	.cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.btn {
	@include box-sizing(border-box);
	display: inline-block;
	border: solid 1px black;
	color: #000;
	background: transparent;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	padding: 15px;
	text-decoration: none;

	&.rosa_claro {
		border-color: $rosa_claro;
		color: $rosa_claro;

		&.filled {
			background-color: $rosa_claro;
			color: $rosa_escuro;
		}
	}

	&.rosa_escuro {
		border-color: $rosa_escuro;
		color: $rosa_escuro;

		&.filled {
			background-color: $rosa_escuro;
			color: $rosa_claro;
		}
	}

	&.vermelho {
		border-color: red;
		color: red;

		&.filled {
			background-color: red;
			color: #FFF;
		}
	}

	&.azul {
		border-color: #2c4b84;
		color: #2c4b84;

		&.filled {
			background-color: #2c4b84;
			color: #FFF;
		}
	}

	&.verde {
		border-color: #107722;
		color: #107722;
	}

	&.roxo_escuro {
		border-color: $roxo_escuro;
		color: $roxo_escuro;

		&.filled {
			background-color: $roxo_escuro;
			color: $rosa_claro;
		}
	}

	&.small {
		font-size: 12px;
		padding: 8px;
		text-transform: none;
	}

}

.pill {
	@include box-sizing(border-box);
	display: block;
	padding: 8px 5px;

	border: solid 1px $roxo_claro;
	color: $roxo;
	border-radius: 20px;

	font-size: 12px;
	text-transform: uppercase;
	text-align: center;

	&.filled {
		background-color: $roxo_claro;
		color: $rosa_claro;
	}
}

.badge {
	@include box-sizing(border-box);
	display: inline-block;
	padding: 2px 8px;

	border-radius: 20px;
	font-size: 10px;

	text-transform: uppercase;

	background-color: $roxo_claro;
	color: $rosa_claro;
}

.alert {
	background: lighten(orange, 30%);
	border: solid 1px orange;
	color: darken(orange, 20%);
	padding: 8px;
	font-weight: bold;

	&.red {
		background: lighten(red, 30%);
		border: solid 1px red;
		color: darken(red, 20%);
	}

	&.green {
		background: lighten(green, 60%);
		border: solid 1px green;
		color: darken(green, 15%);
	}

	&.rosa {
		background: $rosa_claro;
		border: none;
		color: $roxo;
		border-radius: 20px;
	}
}

.color {
	@include box-sizing(border-box);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: gray;
	border: solid 1px rgba(#000, .2);
	display: inline-block;
	margin-right: 4px;

	&.add {
		border-color: $rosa_escuro;
		background-color: $rosa_escuro;
		color: #FFF;
		font-weight: bold;
		text-align: center;
		line-height: 19px;
		font-size: 18px;
		vertical-align: top;
	}
}

.list {
	border-bottom: solid 1px rgba(black, .2);
	text-align: left;

	&.no-margin {
		margin: 0;
	}

	&.sel {
		background: $rosa_claro;
	}

	&.bold {
		font-weight: bold;
	}
}

.amigo {
	width: 33%;
	float: left;
	text-align: center;
	margin: 10px 0;

	font-size: 13px;
	font-weight: bold;

	line-height: 1.1;
	height: 110px;
    overflow: hidden;

	p {
		margin: 10px 0 0 0;
	}

	&.sel {
		color: $rosa_escuro;
	}
}

.thumb {
	height: 100px;
	width: 100px;
	background: no-repeat center center;
	background-size: cover;
	margin: 0 auto;

	&.sel {
		border: solid 5px $rosa_escuro;
	}

	&.inline {
		display: inline-block;
		margin: 0 5px;
	}

	.check {
		float: left;
		width: 70%;
		height: 70%;
		margin: 15%;
	}
}

.thumb-round {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: no-repeat center center;
	background-size: cover;
	margin: 0 auto;

	&.small {
		width: 25px;
		height: 25px;
	}

	&.big {
		width: 75px;
		height: 75px;
	}

	&.inline {
		display: inline-block;
		margin: 0 4px;
	}
}

.check {
	width: 100%;
	height: 100%;
	background: rgba(white, .4) url(../img/check_circle.svg) no-repeat center center;
	background-size: contain;
	border-radius: 50%;
}

.destaque {
	color: $rosa_escuro;
	font-size: 18px;
	font-weight: bold;

	&.roxo_escuro {
		color: $roxo_escuro;
	}
}

.shadowbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(black, .8);
	z-index: 10;

	.box {
		width: 90%;
		background: white;
		border-radius: 10px;

		.max-h {
			max-height: 70vh;
		}

		.fechar {
			color: $roxo_escuro;
			font-size: 20px;
		}

		ul {
			.row {
				border-bottom: solid 1px rgba(black, .4);
			}
		}

		ul ul {
			margin-left: 15px;
		}

		.selected {
			background: $rosa_claro;
			color: $rosa_escuro;
			font-weight: bold;
		}

		.dir {
			text-align: right;
			color: $rosa_escuro;
			font-size: 15px;
		}

		.avaliacao {
			text-align: center;
			font-size: 45px;
			color: $roxo;
		}


	}
}

input:not([type='checkbox']):not([type='range']), select, textarea {
	@include box-sizing(border-box);
	-webkit-appearance: none;
	-webkit-border-radius:0; 
    border-radius:0;
	display: block;
	border: solid 1px #7d7d7d !important;
	color: $roxo_escuro !important;
	background: #FFF;
	width: 100%  !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	padding: 15px !important;
	height: auto !important;

}

label.dil_checkbox {
	i {
		font-size: 16px;
    	vertical-align: text-top;
	}
}

select {
		padding: 13px !important;
}

hr {
	border: none;
	border-bottom: solid 1px #CCC;
}

.maw-25 {
	max-width: 25px;
}

.maw-30 {
	max-width: 30px;
}

.maw-35 {
	max-width: 35px;
}

.maw-40 {
	max-width: 40px;
}

.maw-80 {
	max-width: 80px;
}

.maw-85 {
	max-width: 85px;
}

.maw-100 {
	max-width: 100px;
}

.maw-110 {
	max-width: 110px;
}

.maw-120 {
	max-width: 120px;
}

.space-5 {
	display: block;
	height: 5px;
}

.space-10 {
	display: block;
	height: 10px;
}

.space-15 {
	display: block;
	height: 15px;
}

.space-20 {
	display: block;
	height: 20px;
}

.space-30 {
	display: block;
	height: 30px;
}

.space-50 {
	display: block;
	height: 50px;
}

.bg_pattern {
	background: $rosa_claro url(../img/bg_pattern.png) repeat center center;
}

.bg-white {
	background: white !important;
}

.width-100 {
	width: 100%;
}

.width-75 {
	width: 75%;
}

.padding-0 {
	padding: 0;
}

.padding-15 {
	padding: 15;
}

.full {
	width: 100%;
	height: 100%;
	position: relative;
}

.valor {
	font-weight: 500;
	color: #333;
	text-align: right;
}

.campo {

	label {
		display: block;
		padding: 0 10px;
		text-transform: uppercase;
		color: $roxo;
		font-weight: bold;
	}

	span {
		@include box-sizing(border-box);
		display: block;
		border-bottom: solid 1px rgba($roxo, .5);
		min-height: 26px;
		padding: 0 10px;

		background: url(../img/linha_lateral.png) no-repeat left bottom, url(../img/linha_lateral.png) no-repeat right bottom;
	}
}

.general {

	.header {
		height: 50px;
		background: $rosa_claro no-repeat center center;
		text-align: left;

		&.logo {
			background-image: url(../img/logo_horizontal.svg);
			background-size: auto 80%;
		}

		button {
			height: 50px;
			width: 50px;
			background: none;
			border: none;
			font-size: 18px;
			color: $roxo;
		}
	}

	.bar-header {
		background: $rosa_claro no-repeat center center;
		text-align: left;

		&.logo {
			background-image: url(../img/logo_horizontal.svg);
			background-size: auto 80%;
		}

		button {
			height: 34px;
			width: 50px;
			background: none;
			border: none;
			font-size: 18px;
			color: $roxo;
		}
	}

	&.app-user .bar-header{
		display: none;
	}

	.header-user {

		.color-overlay {
			background-color: rgba(#330311, .9);
			height: 100%;
		}

		.btn-right {
			float: right;
		}

		.btn-left {
			float: left;
		}

		button {
			height: 50px;
			width: 50px;
			background: none;
			border: none;
			font-size: 24px;
			color: white;
		}

		.logo {
			width: 100%;
			height: 50px;
			background: url(../img/logo_horizontal_invertido.svg) no-repeat center center;
			background-size: auto 80%;
		}

		//height: 170px;
		background: #660622 no-repeat center center;
		background-size: cover;
		color: #FFF !important;

		.user-info {
			//margin-top: 15px;

			.border {
				display: inline-block;
				border: solid 2px white;
				border-radius: 50%;
				width: 100px;
				height: 100px;
			}
			.profile-img {
				@include box-sizing(border-box);
				border: solid 7px $rosa-escuro;
				background: #660622 no-repeat center center;
				background-size: cover;
				height: 150px;
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}

			.col {
				overflow: hidden;
			}

			.col-img {
				max-width: 110px;
			}

			.v-text {
				min-height: 105px;
			}
		}

		h2 {
			font-size: 25px;
			font-weight: 400;
			color: #FFF;
			margin: 0;
			padding: 0;

			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		p {
			margin: 5px 0 0 0;
			padding: 0;
			font-size: 14px;
		}

	}


	.footer {
		height: 60px;
		background: $bg_tab no-repeat center center;
		text-align: center;
		font-size: 28px;

		.col {
			min-height: 50px;
			@include box-sizing(border-box);
			position: relative;

			&.borda {
				border-right: solid 1px #4f132e;
			}

		}

		a {
			@include box-sizing(border-box);
			display: block;
			width: 100%;
			height: 100%;
			color: $color_tab;
			padding: 6px 0;

			/* &.destaque {
				position: absolute;
				background: url(../img/circle.png) no-repeat;
				background-size: 100% 100%;
				width: 89px;
				height: 66px;
				
				font-size: 45px;
				padding: 14px 0;
				margin-top: -3px;
			} */
		}
	}

	.has-footer {
		bottom: 60px !important;
	}

	.has-subfooter {
		bottom: 100px !important;
	}

	.bar-footer {
		height: 60px !important;
		background: $bg_tab no-repeat center center;
		text-align: center;
		font-size: 28px;

		padding: 0;

		&.row {
			padding: 0;

			.col {
				padding: 0;
				&.borda {
					border-right: solid 1px #4f132e;
				}
			}
		}

		a {
			@include box-sizing(border-box);
			display: block;
			width: 100%;
			height: 100%;
			color: $color_tab;
			padding: 0;
			line-height: 64px;

			&.destaque {
				//position: absolute;
				background: url(../img/circle.png) no-repeat;
				background-size: 100% 100%;

				width: 90px;
				height: 70px;
				font-size: 45px;
				padding: 7px 0;
				
				bottom: 0;
				position: absolute;
				left: 50%;
				margin-left: -45px;
			}
		}

	}


	.content {
		//width: 100%;
		//height: calc(100% - 50px);
		background: #FFF;
		padding-bottom: 25px;

		&.padding {
			padding: 15px;
		}

		/* &.has-footer {
			height: calc(100% - 110px);
		}

		&.add-header {
			height: calc(100% - 60px);
		} */


	}

	h3 {
		margin: 0;
		font-size: 15px;
		color: #7c7c7c;
		font-weight: 400;
		background: #f3f3f3;
		text-transform: uppercase;
		padding: 15px 20px;
		border-bottom: solid 1px #aaaaaa;
		text-align: left;
	}
}

/* #chat-scroll {
	height: calc(100vh - 170px);
} */


#chat-input {
	background: #F5F1EE;
	/* @include box-sizing(border-box);
	width: 100%;
	height: 60px;
	//padding: 8px; */
	bottom: 60px;

	&.active {
		height: 60px !important;
		bottom: 0px;
	}

	&.row {

		.col {
			margin-left: 0;
			margin-right: 0;
			padding: 0;
		}
	}

	form {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	input {
		@include box-sizing(border-box);
		-webkit-appearance: none;
		width: 100%;
		height: 100% !important;
		padding: 5px !important;
		border: none !important;
		border-radius: 5px;
		height: 31px !important;
	}

	.col-btn {
		max-width: 38px;
	}

	button {
		background: $roxo;
		width: 31px;
		height: 31px;
		border-radius: 50%;
		color: #FFF;
		border: none;
		text-align: center;
		i {
			vertical-align: middle;
		}
	}
}

/* body.keyboard-open {
	.general .content {

		&.has-footer {
			height: calc(100% - 50px);
		}

	}

	#chat-scroll {
		height: calc(100vh - 110px);
	}
} */

.wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
}

	.splash {

		background: black;
		
		width: 100%;
		height: 100%;
		padding: 10% 20%;
		@include box-sizing(border-box);

		.logo {
			width: 100%;
			height: 100%;
			background: url(../img/logo_vertical.svg) no-repeat center center;
			background-size: contain;
		}
	}


#instruction {

	width: 100%;
	height: 100%;
	background: $rosa_claro url(../img/bg_pattern.png) repeat center center;

	#header {
		text-align: center;
		width: 100%;
		height: 20%;
		@include box-sizing(border-box);
		background-color: rgba(#000, .8);
		padding: 10px 0 20px 0;
	}

	#content {
		text-align: center;
		width: 100%;
		height: 80%;
		@include box-sizing(border-box);
		background-color: #FFF;

		.slider, .box {
			width: 100%;
			height: 100%;
			background: no-repeat center center;
			background-size: cover;
			position: relative;
		}

		.slider-pager-page {
			color: $rosa_claro;
			opacity: 1;

			&.active {
				color: $rosa_escuro;
			}
		}

		.info {
			width: 100%;
			@include box-sizing(border-box);
			background: rgba(black, .8);
			text-align: center;
			color: #FFF !important;

			position: absolute;
			bottom: 0;
			padding: 30px 20px 50px 20px;

			h1 {
				color: #FFF;
				font-size: 24px;
				margin: 0;
			}
		}
	}

}

#login {

	padding: 35px 0;
	
	#content {
		text-align: center;
		width: 65%;
		margin: auto;

		#logo {
			height: 30vh;
			margin-bottom: 30px;
		}

		.separador {
			margin: 30px 0;
			color: $rosa_escuro;	

			span {
				display: block;
				float: left;
				height: 20px;
				width: 50%;
			}

			.linha {
				background: url(../img/linha_rosa.png) repeat-x center center;
				width: 25%;

			}
		}
	}
}

#cadastro {
	text-align: center;

	.addImg {
		background: $roxo_escuro no-repeat center center;
		background-size: cover;
		color: $rosa_escuro;
		font-size: 20px;
		text-align: center;
		padding: 140px 0;

		i {
			font-size: 40px;
		}
	}
}

#validacao {

	width: 100%;
	height: 100%;
	background: $rosa_claro url(../img/instructions/img1.jpg) repeat center center;
	background-size: cover;

	#header {
		text-align: center;
		width: 100%;
		height: 100%;
		@include box-sizing(border-box);
		background-color: rgba(#000, .8);
		padding: 10px 0 20px 0;

		img {
			margin: 20px 0;
		}
	}

	.box {
		@include box-sizing(border-box);
		width: 80%;
		border: solid 1px #bbbbbb;
		border-radius: 5px;
		margin: 0 auto;
		padding: 10px;
		color: #b1b3b3;

		h2 {
			color: $rosa_escuro;
			margin: 0;
			padding: 0;
			font-size: 20px;
		}

		p {
			margin: 15px 0;
		}
	}

}

#liked {
	background: #f3f3f3;

	#tipo {
		background: white;
		border-bottom: solid 1px rgba(black, .2);
		margin-bottom: 15px;
	}
}

#home {

	.borda-baixo {
		border-bottom: solid 1px rgba($rosa_claro, .5) !important;
	}

	#filtro {
		background: $roxo;
		color: $rosa_claro;
		text-align: left;

		.col {
			position: relative;
		}

		input {
			border: none !important;
			background: none !important;
			color: $rosa_claro !important;
			padding: 0px !important;

			@include placeholder {
				color: $rosa_claro;
			}
		}

		button {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 18px;
    		padding: 3px;
			border: none;
			background: none;
			color: $rosa_claro;
		}
	}

	.outside {
		position: absolute;
		width: 100%;
		height: 100%;
		background: transparent;
		z-index: 50;
		left: 0;
		top: 0;
	}

	.select {
		background: $rosa_claro;
		color: $roxo;
		position: relative;

		.label {
			line-height: 22px;
		}

		.bars {
			text-align: center;
			border-left: solid 1px rgba($roxo, .5);
			font-size: 20px;
		}

		ul {
			position: absolute;
			z-index: 100;
			background: $rosa_claro;
			width: 100%;

			li {
				border-top: solid 1px rgba($roxo, .2);
				a {
					display: block;
				}

				.info {
					font-weight: 500;
					color: $rosa_escuro;
					text-align: right;

					i {
						vertical-align: middle;
					}
				}

				.aplicar {
					display: block;
					text-align: center;
					padding: 10px 20px;
					background-color: $rosa_escuro;
					color: $rosa_claro;
				}
			}
		}
	}

	#tipo {
		background-color: $rosa_claro;
	}

	.stack {
        width: 85vw; 
        height: 85vw; 
        background: #e4e4e4; 
        border-radius: 10px;
        margin: 15px auto 0 auto;
        position: relative;

        .info-nenhum {
        	font-size: 20px;
        	text-align: center;
        	color: #888;
        }

        li {
        
        	width: 100%; 
        	height: 100%; 
        	list-style: none; 
        	background-color: #e4e4e4 !important; 
        	border-radius: 5px; 
        	position: absolute; 

        	background: center center no-repeat;
        	background-size: cover;
        	//@include box-shadow(rgba(0, 0, 0, .2) 1px 1px 7px);

        	.badge {
        		position: absolute;
        		z-index: 0;
        		right: 5px;
        		top: 5px;
        	}

        	.btn-like {
        		@include box-sizing(content-box);
				font-size: 70px;
				line-height: 70px;
				color: #21c063;
				border: none;
				background: rgba(white, .7);
				border-radius: 50%;
				position: absolute;
				bottom: 10%;
				left: 50%;
				margin-left: 20px;

				width: 70px;
				height: 70px;
				padding: 4px;

				&.btn-dislike {
					left: auto;
					right: 50%;
					margin-right: 20px;
					color: #df473d;
				}
        	}
    	}
    }


    #home-content {
    	text-align: left;

    	.like_signal {
    		position: absolute;
    		width: 100%;
    		font-size: 350px;
    		height: 85vw;
    		margin-top: -85vw;
    		text-align: center;
    		line-height: 85vw;
			color: #21c063;

			.dislike {
				color: #df473d;
			}

    		/* animation-name: showLikeIcon;
			animation-duration: .7s;
			animation-timing-function: ease-out; */

			animation: showLikeIcon 1s forwards;
    	}
    }

}

@keyframes showLikeIcon {
    from {
    	@include transform(scale(.1));
    	@include opacity(1);
   	}
    to {
    	display: none;
    	@include transform(scale(1));
    	@include opacity(0);
    }
}


#add {

	#imgAddArea {

		margin-bottom: 15px;
		
		.addImg {
			background: $roxo_escuro no-repeat center center;
			background-size: cover;
			color: $rosa_escuro;
			font-size: 40px;
			line-height: 100px;
			text-align: center;
		}

	}

	.label {
		text-align: right;
		line-height: 50px;
	}

	.color-select {
		padding: 0 !important;
		width: 20px !important;
		height: 20px !important;
		border-radius: 50%;
	}


}

#user {

	background: #f3f3f3;

	#tipo {
		background: white;
		/* border-bottom: solid 1px rgba(black, .2);
		margin-bottom: 15px; */
	}

}

#tabs {
	padding: 0;
	background: white;
	border-top: solid 1px rgba(black, .2);
	border-bottom: solid 1px rgba(black, .2);

	a {
		border-right: solid 1px rgba(black, .2);
		text-align: center;
		text-transform: uppercase;
		padding: 15px;
		color: rgba($roxo_claro, .8);
		background: rgba($roxo_claro, .15);

		i {
			display: block;
			font-size: 30px;
		}

		&:last-child {
			border-right: none;
		}

		&.sel {
			background: white;
			color: $roxo_claro;
		}
	}
}

.tempo {
	text-align: right;
	font-size: 12px;
	color: #999;
}

.avaliacao {
	font-size: 12px;
	color: $rosa_escuro;

	&.maior {
		font-size: 18px;
		i {
			margin-right: 4px;
		}
	}
}

#chat {
	.v-text {
		min-height: 60px;
	}	
}

#conversation {

	.tempo {
		color: rgba($roxo_claro, .8);
	}

	.balao {
		padding: 10px;
		background: $rosa_claro;
		border-radius: 5px;
	}

	.balao-0 {
		background: $roxo_claro;
		color: white;
		text-align: right;

		.tempo {
			color: rgba(white, .5);
		}
	}
}

#dress {
	.slider {
		height: 65vh;

		.slider-slide {
			background: no-repeat center center;
			background-size: cover;
		}
	}

	.slider-pager-page {
		color: $rosa_claro;
		opacity: 1;

		&.active {
			color: $rosa_escuro;
		}
	}
}

#pagamento {
	text-align: center;

	.bandeiras {
		i {
			color: $rosa_escuro;
			font-size: 25px;
		    vertical-align: middle;
		    margin-right: 5px;
		}
	}

}

.hasKeyboard {
	background: red;
}