<div class="box centerObj">

	<div class="row">
		<div class="col">
			<h2>Localização</h2>
		</div>
	</div>

	<div class="row row-center">
		<div class="col">
			<div class="range">
				<input type="range" min="5" max="500" step="5" name="maxDist" ng-model="shadowbox.maxDist">
			</div>
		</div>
		<div class="col col-20">
			<strong>{{shadowbox.maxDist}} km</strong>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a  ng-click="shadowbox.save()" class="btn rosa_escuro filled small width-100">Fechar</a>
		</div>
	</div>

</div>