<div class="box centerObj">

	<div class="row">
		<div class="col">
			<h2>Categorias</h2>
		</div>
	</div>

	<ion-scroll zooming="false" direction="y" class="max-h">
	<div class="row">
		<div class="col">
			<ul>
				<li ng-repeat="cat in shadowbox.cats">
					<a ng-click="shadowbox.showCat($index)">
						<div class="row">
							<div class="col"><strong>{{cat.nome}}</strong></div>
							<div class="col col-25 dir">
								<i class="icon-chevron-down" ng-show="!cat.visible" ></i>
								<i class="icon-chevron-up" ng-show="cat.visible" ></i>
							</div>
						</div>
					</a>
					<ul ng-init="cat.visible = false" ng-show="cat.visible">
						<li ng-repeat="opt in cat.subcategorias">
							<label>
								<div class="row">
									<div class="col">{{opt.nome}}</div>
									<div class="col col-25 dir">
										<input type="checkbox" class="ng-hide" name="{{opt}}" ng-init="opt.check = shadowbox.initCheckCat(opt)" ng-model="opt.check">
										<i class="icon-square-o" ng-show="!opt.check"></i>
										<i class="icon-check-square-o" ng-show="opt.check"></i>
									</div>
								</div>
							</label>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	</ion-scroll>

	<div class="row">
		<div class="col">
			<a  ng-click="shadowbox.saveCats()" class="btn rosa_escuro filled small width-100">Fechar</a>
		</div>
	</div>

</div>