<div class="box centerObj">

	<div class="row">
		<div class="col">
			<h2>Estado de Conservação</h2>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<ul>
				<li ng-repeat="cat in shadowbox.cats">
					<a ng-click='cat.check = !cat.check'>
						<div class="row">
							<div class="col col-10">
								<i class="icon-check" ng-init='cat.check = shadowbox.isSel(cat)' ng-show='cat.check' ></i>
							</div>
							<div class="col"><strong>{{cat.nome}}</strong></div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<a  ng-click="shadowbox.save()" class="btn rosa_escuro filled small width-100">Fechar</a>
		</div>
	</div>

</div>