<div id="dress">

	<ion-slide-box>
		<ion-slide ng-repeat="foto in currentDress.foto"  style="background-image: url({{foto}})">
		</ion-slide>
	</ion-slide-box>

	<div class="list row">

		<div class="col col-20 col-center">
			<div class="thumb-round" style="background-image: url({{currentDress.usuario.foto}})"></div>
		</div>

		<div class="col col-center">
			<strong>{{currentDress.usuario.nome}}</strong><br>
			<span class="tempo"><i class="icon-clock-o"></i> {{currentDress.usuario.ultimo_login_txt}}</span><br>
            <span class="avaliacao">
            <i ng-class="{'icon-star': i<=currentDress.usuario.nota, 'icon-star-o': i>currentDress.usuario.nota}" ng-repeat="i in [1,2,3,4,5]"></i>
            </span>
		</div>

	</div>

    <div class="padding" >

        <div class="row">
        	<div class="col">
        		{{currentDress.titulo}}
        	</div>
        	<div class="col col-33 valor">
        		{{currentDress.valor | currency}}
        	</div>
        </div>

        <div class="row" ng-show="currentDress.marca!=''">
            <div class="col campo">
                <label>Marca</label>
                <span>{{currentDress.marca}}</span>
            </div>

        </div>

        <div class="row" ng-show="currentDress.tamanhos!=''">
            <div class="col campo">
                <label>Tamanho(s)</label>
                <span>{{currentDress.tamanho}}</span>
            </div>

        </div>

        <div class="row" ng-show="currentDress.cores!=''">
            <div class="col campo">
                <label>Cores</label>
                <span>
                    <div ng-repeat="cor in currentDress.cores_hex" class="color" style="background-color: {{cor}}"></div>
                </span>
            </div>
        </div>

        <div class="row" ng-show="currentDress.comprimento!=''">
            <div class="col campo">
                <label>Comprimento</label>
                <span>{{currentDress.comprimento}}</span>
            </div>
            
        </div>

        <div class="row">

            <div class="col campo">
                <label>Estado</label>
                <span>{{currentDress.conservacao}}</span>
            </div>

            <div class="col col-33 campo">
                <label>Qtd.</label>
                <span>
                    {{currentDress.qtd}}
                </span>
            </div>
        </div>

        <div class="space-10"></div>

        <div class="row">
        	<div class="col">
        		{{currentDress.descricao}}
        	</div>
        </div>

        <div ng-show="eventos.length>0">
            <hr>
            <div class="row">
                <div class="col">
                    <h2>Eventos</h2>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    Esta peça foi adquirida para o(s) evento(s):
                </div>
    
            </div>
    
            <div class="list no-margin" ng-repeat="a in eventos">
                <div class="row">
                    <div class="col">
                        <strong>{{a.tipo_evento}}</strong><br>
                        {{a.data_hora}}<br>
                        {{a.local}}
                    </div>
                </div>
            </div>

            <div class="space-20"></div>
            
        </div>

        <div class="row" ng-show="user.id!=currentDress.usuario.id">
            <div class="col align-center">
                <a ng-click="startChat(currentDress.id)" class="btn roxo_escuro filled width-75">Negociar</a>
            </div>
        </div>


        <div class="row" ng-show="user.id==currentDress.usuario.id">
            <div class="col align-center">
                <a ng-click="Edit(currentDress.id)" class="btn roxo_escuro filled width-75">Editar Anúncio</a>
            </div>
        </div>


        <div class="space-20"></div>

        <div class="row" ng-show="user.id!=currentDress.usuario.id">
            <div class="col align-center">
                <a ng-click="Dislike()" class="btn small vermelho width-75">REMOVER DOS PREFERIDOS</a>
            </div>
        </div>

    </div>




</div>