<div id="home">
	
	<div id="filtro" class="padding">
		
		<form ng-submit="loadDresses()">

			<div class="row borda-baixo">
					
				<div class="col">
					<input type="search" ng-model="busca" placeholder="BUSCAR POR PRODUTO">
				</div>

				<div class="col col-10">
					<button><i class="icon-search"></i></button>
				</div>
				
			</div>

		</form>

		<div class="space-10"></div>

		<div class="outside" ng-click="selCat=false" ng-show="selCat"></div>

		<div class="select">
			<div class="row" ng-init="selCat = false" ng-click="selCat=!selCat">
				<div class="col label">CATEGORIA</div>
				<div class="col col-10 bars"><i class="icon-bars"></i></div>
			</div>

			
			<ul ng-show="selCat">

				<li>
					<a ng-click="openShadowbox('categorias')">
						<span class="row">
							<span class="col">Categorias</span>
							<span class="col col-50 info">{{filtro_categorias}} <i class="icon-chevron-right"></i></span>
						</span>
					</a>
				</li>

				<li>
					<a ng-click="openShadowbox('localizacao')">
						<span class="row">
							<span class="col">Localização</span>
							<span class="col col-50 info">{{filtro_maxDist}} km <i class="icon-chevron-right"></i></span>
						</span>
					</a>
				</li>

				<li>
					<a ng-click="openShadowbox('conservacao')">
						<span class="row">
							<span class="col">Conservação</span>
							<span class="col col-50 info">{{filtro_estConserv}} <i class="icon-chevron-right"></i></span>
						</span>
					</a>
				</li>

				<li>
					<a ng-click="selCat=!selCat; loadDresses()" class="aplicar">Aplicar filtro</a>
				</li>

			</ul>
		</div>
	</div>

	<div id="tipo" class="">
		<div class="row ">
			<div class="col"><a ng-click="tipo='venda'; loadDresses()" class="pill" ng-class="{'filled':tipo === 'venda'}">Venda</a></div>
			<div class="col"><a ng-click="tipo='aluguel'; loadDresses()" class="pill" ng-class="{'filled':tipo === 'aluguel'}">Locação</a></div>
		</div>
	</div>

	<div id="home-content">
		
		<ul class="stack" swing-stack swing-options="options">
			<li class="info-nenhum">
				<div class="centerObj" ng-show="!cardsLoading">Infelizmente não temos itens para mostrar. Realize uma nova busca.</div>
				<div class="centerObj" ng-show="cardsLoading">Carregando...</div>
			</li>
            <li
            	swing-card
            	swing-on-throwout="throwout(eventName, eventObject)"
            	swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
                swing-on-throwoutright="throwoutright(eventName, eventObject)"
                ng-repeat="card in cards.slice().reverse()"
                style="background-image: url({{card.foto}})"
                >
                
				<div class="badge">
					{{card.dist | number:1}} km de você
				</div>

				<button class="btn-like" ng-click="SetLiked('s'); removeCard($index)">
					<i class="icon-like"></i>
				</button>

				<button class="btn-like btn-dislike" ng-click="SetLiked('n'); removeCard($index)">
					<i class="icon-dont-like"></i>
				</button>

            </li>
        </ul>



        <div class="like_signal" ng-repeat="i in animIcon">
        	<i class="icon-like" ng-show="i=='s'"></i>
        	<i class="icon-dont-like dislike" ng-show="i=='n'"></i>
        </div>

        <div class="padding" ng-init="showInfo=true" ng-show="showInfo">

	        <div class="row">
	        	<div class="col">
	        		{{currentDress.titulo}}
	        	</div>
	        	<div class="col col-33 valor">
	        		{{currentDress.valor | currency}}
	        	</div>
	        </div>

	        <div class="row" ng-show="currentDress.tamanhos!=''">
	        	<div class="col campo">
	        		<label>Tamanho(s)</label>
	        		<span>{{currentDress.tamanho}}</span>
	        	</div>

			</div>

	        <div class="row" ng-show="currentDress.cores!=''">
	        	<div class="col campo">
	        		<label>Cores</label>
	        		<span>
	        			<div ng-repeat="cor in currentDress.cores" class="color" style="background-color: {{cor}}"></div>
	        		</span>
	        	</div>
	        </div>

	        <div class="row" ng-show="currentDress.comprimento!=''">
	        	<div class="col campo">
	        		<label>Comprimento</label>
	        		<span>{{currentDress.comprimento}}</span>
	        	</div>
	        	
	        </div>

			<div class="row">

	        	<div class="col campo">
	        		<label>Estado</label>
	        		<span>{{currentDress.conservacao}}</span>
	        	</div>

	        	<div class="col col-33 campo">
	        		<label>Qtd.</label>
	        		<span>
	        			{{currentDress.qtd}}
	        		</span>
	        	</div>
	        </div>

	        <div class="space-10"></div>

	        <div class="row">
	        	<div class="col">
	        		{{currentDress.descricao}}
	        	</div>
	        </div>

	        <div class="space-10"></div>

	        <div class="row">
	        	<div class="col">
	        		<a href="#/app/dress/{{currentDress.id}}" class="btn roxo_escuro filled full">Mais Informações</a>
	        	</div>
	        </div>

        </div>

	</div>

</div>