<div id="instruction">
	
	<div id="header">
		<img src="img/logo_vertical.svg" height="100%">
	</div>

	<div id="content">

		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="slide in instData">
				<div class="box blue" style="background-image: url({{slide.img}})">
					<div class="info">
						<h1 ng-if="slide.titulo!=''">{{slide.titulo}}</h1>
						<p>{{slide.txt}}</p>
						<a href="#/app/home" class="btn rosa_claro" ng-show="{{slide.btn}}">Entrar no Aplicativo</a>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>

	</div>

</div>