<div id="pagamento" class="full general">
	
	<div class="bar bar-header logo">
		<button ng-click="back();"><i class="icon-chevron-left"></i></button>
	</div>

	<ion-content class="has-header">

		<h3>PAGAMENTO</h3>


		<div id="paypal-button"></div>
		

		<form novalidate ng-submit="PagarComPayPal()">

			<div class="padding">

				<div class="row list">
					<div class="col col-33">
						<div class="thumb" style="width: 100%; background-image: url({{anuncio.foto[0]}})"></div>
					</div>
					<div class="col">
						<strong>{{anuncio.titulo}}</strong>
						<p>{{anuncio.descricao}}</p>
						<p><span class="destaque">{{anuncio.valor | currency}}</span></p>
					</div>
				</div>

				<div class="alert rosa tac">
					Indicamos que efetue o pagamento durante a entrega do produto.
				</div>

				<div class="row bandeiras">
					<div class="col" ng-click="pagamento.bandeira='Visa'">
						<i class="icon-square-o" ng-show="pagamento.bandeira!='Visa'"></i>
						<i class="icon-check-square-o" ng-show="pagamento.bandeira=='Visa'"></i>
						VISA
					</div>

					<div class="col" ng-click="pagamento.bandeira='Mastercard'">
						<i class="icon-square-o" ng-show="pagamento.bandeira!='Mastercard'"></i>
						<i class="icon-check-square-o" ng-show="pagamento.bandeira=='Mastercard'"></i>
						MASTERCARD
					</div>

				</div>
		
				<div class="row">
					<div class="col">
						<input required type="text" ng-model="pagamento.nome" placeholder="NOME DO PORTADOR">
					</div>
				</div>

				<div class="row">
					<div class="col">
						<input required type="text" ng-model="pagamento.cpf" placeholder="CPF" ui-br-cpf-mask>
					</div>

					<div class="col">
						<input required type="text" ng-model="pagamento.data_nascimento" placeholder="DATA DE NASCIMENTO" ui-date-mask>
					</div>

				</div>

				<div class="row">
					<div class="col">
						<input required type="text" ng-model="pagamento.telefone" placeholder="TELEFONE" ui-br-phone-number>
					</div>
				</div>
		
				<div class="row">
					<div class="col">
						<input required type="text" ng-model="pagamento.numero" placeholder="NÚMERO DO CARTÃO">
					</div>
				</div>
		
				<div class="row">

					<div class="col col-50">
						<input required type="text" ng-model="pagamento.codigo" placeholder="CÓDIGO DE SEGURANÇA">
					</div>
				
					<div class="col">
						<input required type="number" ng-model="pagamento.mes" placeholder="MÊS" min="1" max="12">
					</div>
				
					<div class="col">
						<input required type="number" ng-model="pagamento.ano" placeholder="ANO" min="16" max="60">
					</div>

				</div>				
		
				<div class="space-20"></div>
		
				<div class="row">
				  <div class="col">
				  	<button ng-init="desativado=false" ng-disabled="desativado" class="btn roxo_escuro filled width-75">Efetuar Pagamento</button>
					</div>
				</div>

				<div class="space-20"></div>

				<div class="row">
				  <div class="col tac">
				  	<img src="img/moip.png" width="75%">
				  </div>
				</div>

			</div>

		</form>


	</ion-content>

</div>