<div id="user">

	<div class="header-user" style="background-image: url({{user.foto}})">
		<div class="color-overlay">

			<div class="btn-left">
				<button ng-click="LerFaq()"><i class="ion-help-circled"></i></button>
			</div>

			<div class="btn-right">
				<button ng-click="Config()"><i class="icon-cog"></i></button>
			</div>

			<div class="logo"></div>

			<div class="user-info" class="padding" ng-click="Config()">

				<div class="row row-center">
					<div class="col col-img align-right">
						<div class="border">
							<div class="profile-img" style="background-image: url({{user.foto}})"></div>
						</div>
					</div>
					<div class="col">
						<h2>{{user.nome}}</h2>
						<p ng-show="user.cidade!=''"><i class="icon-location"></i>{{user.cidade}} / {{user.uf}}</p>
						<p>
							<span class="avaliacao maior">
								<i ng-class="{'icon-star': i<=user.nota, 'icon-star-o': i>user.nota}" ng-repeat="i in [1,2,3,4,5]"></i>
							</span>
						</p>
					</div>
				</div>

			</div>

		</div>
	</div>


	<div id="tipo" >
		<div class="row ">
			<div class="col"><a ng-click="tipo='anuncios'" class="pill" ng-class="{'filled':tipo === 'anuncios'}">Anúncios</a></div>
			<div class="col"><a ng-click="tipo='pedidos'" class="pill" ng-class="{'filled':tipo === 'pedidos'}">Compra</a></div>
			<div class="col"><a ng-click="tipo='negociacoes'" class="pill" ng-class="{'filled':tipo === 'negociacoes'}">Venda</a></div>
		</div>
	</div>

	<!-- ANUNCIOS -->
	<div id="tabs" class="row" ng-show="tipo=='anuncios'">

		<a class="col" ng-click="selTab('aberto')" ng-class="{'sel':status=='aberto'}">
			<i class="icon-flash"></i>
			Ativos
		</a>
		<a class="col" ng-click="selTab('fechado')" ng-class="{'sel':status=='fechado'}">
			<i class="icon-dress"></i>
			Finalizados
		</a>

	</div>

	<div class="bg-white" ng-show="tipo=='anuncios'">

		<div class="padding" ng-show="vestidos.length==0">
			<div class="alert rosa tac" ng-show="status=='aberto'">
				Aqui você verá os seus anúncios. Cadastre o seu primeiro anúncio e comece a vender ou alugar!
			</div>

			<div class="alert rosa tac" ng-show="status=='fechado'">
				Aqui você verá seus anúncios finalizados
			</div>
		</div>

		<div class="list row" ng-repeat="vestido in vestidos">
			<div class="col col-33">
				<div class="thumb" style="background-image: url({{vestido.foto}})"></div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col">
						<strong>{{vestido.titulo}}</strong>
					</div>
				</div>

				<!-- ABERTO -->
				<div class="row" ng-show="status=='aberto'" >
					<div class="col">
						<a ng-click="Editar({{vestido.id}})" href="" class="btn roxo_escuro small">EDITAR</a>
						<a ng-click="Finalizar({{vestido.id}})" class="btn roxo_escuro small filled">FINALIZAR</a>
					</div>
				</div>

				<!-- FECHADO -->
				<div class="row" ng-show="status!='aberto'" >
					<div class="col">
						<a ng-click="Ativar({{vestido.id}})" class="btn roxo_escuro filled small">Ativar</a>
					</div>
				</div>

			</div>
		</div>
	</div>



	<!-- PEDIDOS -->

	<div class="bg-white" ng-show="tipo=='pedidos'">

		<div class="padding" ng-show="pedidos.length==0">
			<div class="alert rosa tac">
				Aqui você verá a compra/aluguel de produtos realizadas no app. Você ainda não realizou nenhuma compra no aplicativo.
			</div>
		</div>

		<div class="list row" ng-repeat="vestido in pedidos">
			<div class="col col-33">
				<div class="thumb" style="background-image: url({{vestido.foto}})"></div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col">
						<strong>{{vestido.titulo}}</strong>
					</div>
				</div>

				<div class="row" >

					<div class="col">
						<a ng-click="Ver({{vestido.id}})" class="btn roxo_escuro small full">VER</a>
					</div>

					<div class="col">
						<a ng-click="Eventos({{vestido.id}})" class="btn roxo_escuro small full">EVENTOS</a>
					</div>
				</div>

				<div class="row" >
					<div class="col">
						<a ng-click="Qualificar(vestido)" class="btn roxo_escuro filled full small">QUALIFICAR VENDEDOR</a>
					</div>
				</div>


			</div>
		</div>
	</div>


	<!-- NEGOCIACOES -->

	<div class="bg-white" ng-show="tipo=='negociacoes'">

		<div class="padding" ng-show="negociacoes.length==0">
			<div class="alert rosa tac">
				Aqui você verá a venda/aluguel de seus produtos. Você ainda não realizou nenhuma venda no aplicativo.
			</div>
		</div>

		<div class="list row" ng-repeat="vestido in negociacoes">
			<div class="col col-33">
				<div class="thumb" style="background-image: url({{vestido.foto}})"></div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col">
						<strong>{{vestido.titulo}}</strong>
					</div>
				</div>

				<div class="row" >
					<div class="col maw-35">
						<div class="thumb-round small" style="background-image: url({{vestido.comprador.foto}})"></div>
					</div>
					<div class="col col-center">
						{{vestido.comprador.nome}}
					</div>
				</div>

				<div class="row" >

					<div class="col">
						<a ng-click="Ver({{vestido.id}})" class="btn roxo_escuro small full">VER</a>
					</div>

					<!-- ABERTO -->
					<div class="col"  ng-show="status_anuncio=='aberto'" >
						<a ng-click="Finalizar({{vestido.id}})" class="btn roxo_escuro small filled full">FINALIZAR</a>
					</div>

				</div>


			</div>
		</div>
	</div>


</div>