@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?c9j0tz');
    src:    url('fonts/icomoon.eot?c9j0tz#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?c9j0tz') format('truetype'),
        url('fonts/icomoon.woff?c9j0tz') format('woff'),
        url('fonts/icomoon.svg?c9j0tz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dress:before {
    content: "\e908";
}
.icon-flash:before {
    content: "\e909";
}
.icon-camera:before {
    content: "\e900";
}
.icon-home:before {
    content: "\e901";
}
.icon-chat:before {
    content: "\e902";
}
.icon-heart:before {
    content: "\e903";
}
.icon-like:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}
.icon-dont-like:before {
    content: "\e906";
}
.icon-user:before {
    content: "\e907";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-check:before {
    content: "\f00c";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-navicon:before {
    content: "\f0c9";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-calendar-o:before {
    content: "\f133";
}
.icon-cog:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-arrow-circle-o-down:before {
    content: "\f01a";
}
.icon-arrow-circle-o-up:before {
    content: "\f01b";
}
.icon-lock:before {
    content: "\f023";
}
.icon-edit:before {
    content: "\f044";
}
.icon-pencil-square-o:before {
    content: "\f044";
}
.icon-share-square-o:before {
    content: "\f045";
}
.icon-check-square-o:before {
    content: "\f046";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-times-circle-o:before {
    content: "\f05c";
}
.icon-check-circle-o:before {
    content: "\f05d";
}
.icon-ban:before {
    content: "\f05e";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-sign-out:before {
    content: "\f08b";
}
.icon-square-o:before {
    content: "\f096";
}
.icon-phone-square:before {
    content: "\f098";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-bell-o:before {
    content: "\f0a2";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-users:before {
    content: "\f0c0";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-location-arrow:before {
    content: "\f124";
}
.icon-whatsapp:before {
    content: "\f232";
}
.icon-image:before {
    content: "\e90d";
}
.icon-images:before {
    content: "\e90e";
}
.icon-phone:before {
    content: "\e942";
}
.icon-address-book:before {
    content: "\e944";
}
.icon-location:before {
    content: "\e947";
}

